<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.8.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ace/ace.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/Scripts/app.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ace/mode-csharp.js")" type="text/javascript"></script>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="title">
                <h1 onclick="location.href='/'">
                    TryCode</h1>
            </div>
            @Html.Partial("_LogOnPartial")
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
        </div>
    </div>
</body>
</html>
